{{link-to '' 'cars' class='create-form-overlay'}}
<div class="create-form">
  <p>{{input value=model.brand}}</p>
  <p>{{input value=model.model}}</p>
  <button {{action 'save' model}}>Submit</button>
</div>
